*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}