*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fitems{
    width: 200px;
    height: 200px;
    background-color: red;
    color: aqua;
    font-size: 20px;
    border-radius: 10px;
    border-color: black;
    color: white;
    border-width: 10px;
    border-style: double;
}
.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly ;
    gap: 20px;
}

.item{
    order: 2;
    flex-grow: 3;
}